<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mca_Student_Form.Properties.Settings.MCA_Student_Information_App_DBConnectionString"
            connectionString="Data Source=DESKTOP-DBG5OTJ;Initial Catalog=MCA_Student_Information_App_DB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>